@font-face {
  font-family: 'Work Sans';
  src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Oxanium';
  src: url(../fonts/Oxanium-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: #1C121F;
  }
  .button{
    background: none;
  }
  .header{
    padding: 30px 0;
  }
  .container {
    margin: 0 auto;
    max-width: 1447px;
  }
  .burger{
    display: none;
  }
  .button--uniq{
    color: #FFCE4E;
    background-color: rgba(233, 215, 167, 0.1);
    border: 1px solid #FFCE4E;
    padding: 21px 29px;
    font-family: Work Sans;
    font-size: 18px;
    font-weight:bold;
    margin-right: 76px;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    margin-right: 472px;
  }
  .logo--uniq{
    margin-right: 0px;
  }
  .menu {
    display: flex;
    list-style-type: none;
    font-family: Work Sans;
    font-size: 18px;
    letter-spacing: 2%;
  }
  .menu__link {
    text-decoration: none;
    padding-right: 64px;
    color: #F5FBF2;
  }
  .menu__link:hover{
    text-decoration: underline;
    color: #FFCE4E;
    text-underline-offset: 12px;
  }
  .circle{
    width: 110px;
    width: 110px;
    background: #8613A5;
    border-radius: 50%;
  }
  .first {
    background: url(../../img/effect.png) 0 0 no-repeat;
    background-size:162% 138%;
    padding: 110px 0px;
  }
  .content{
    padding-top: 35px;
    padding-left: 3px;
  }
  .button--max{
    padding: 23px 88px 23px 76px;
    color: white;
    background-color: rgba(233, 215, 167, 0.1);
    border: 1px solid #FFCE4E;
    font-family: Work Sans;
    font-size: 28px;
    font-weight:bold;
    margin-right: 29px;
    line-height: 36px;
  }
  .button--max:hover, .button--view:hover, .button--bid:hover, .button--uniq:hover{
    color: black;
    background-color: #FFCE4E;
  }
  .flex{
    display: flex;
    justify-content: space-between;
  }
  .artist img{
    height: 705px;
    width: 558px;
  }
  .artist{
    margin-right: 77px;
    background-color: #3D2942;
  }
  .artist__bid{
    position: absolute;
    display: flex;
    background: linear-gradient(90deg, rgba(255, 137, 61, 0.09) 0%, rgba(250, 250, 250, 0.9) 100%);
    top: 266px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
    padding: 16px 59px 9px 39px;
    backdrop-filter: blur(5px);
    margin-left: 22px;
  }
  .text-bid:nth-child(1){
    margin-right: 188px;
  }
   .tbid{
    font-family: Oxanium;
    font-size: 18px;
    letter-spacing: 8%;
    color: #E4DEE7;
    margin-bottom: 8px;
   }
   .ttbid{
    font-family: Oxanium;
    font-size: 32px;
    color: white;
    font-weight: bold;
   }
   .artist__start{
    position: absolute;
    display: flex;
    background: white;
    top: 808px;
    padding: 33px 38px 35px 39px;
   }
   .sbid{
    font-family: Oxanium;
    font-size: 28px;
    letter-spacing: 7%;
    color: #16091B;
    margin-bottom: 2px;
    background: white;
    font-weight: bolder;
   }
   .ssbid{
    font-family: Work Sans;
    font-size: 24px;
    color: #594D5E;
    background: white;
   }
   .button--start{
    padding: 21px 53px 18px 43px;
    background-color: #FFCE4E;
    font-family: Work Sans;
    font-weight: bold;
    font-size: 24px;
    display: block;
    color: black;
  }
  .start-bid{
    padding-left: 20px;
    background: white;
  }
  .start-bid:first-child{
    margin-right: 161px;
  }
  .slogan {
    font-family: Oxanium;
    font-size: 85px;
    font-weight: 700;
    line-height: 130px;
    text-align: left;
    width: 710px;
    color: #F5FBF2;
    padding-bottom: 77px;
  }
  .slogan .different{
    color:#FFCE4E;
  }
  .text--first{
    display: flex;
    margin-bottom: 200px;
    font-family: Work Sans;
    font-size: 24px;
    color: #9B9E9A;
    text-align: center;
    gap: 109px;
}
.text--first div::first-line{
  font-family: Oxanium;
  font-weight:bold;
    font-size: 62px;
    color: #F5FBF2;
}
.clientlogo{
  text-align: center;
    padding-left: 11px;
    padding-top: 3px;
}
.works{
  display: flex;
  justify-content: center;
  padding: 197px 0px;
}
h2.title--works{
  padding-left: 457px;
  position: relative;
  margin-bottom: 79px;
}
.sqrt::before{
  content: "";
  position: absolute;
  display: flex;
  background-color: #372839;
  border-radius: 50%;
  overflow: hidden;
  width: 106px;
  height: 106px;
  z-index: 0;
  transform: translate(-30%, -28%);
}
.sqrt img{
  position: relative;
  z-index: 1;
}
.flex--auctions{
  flex-direction: column;
}
.title{
  font-family: Oxanium;
    font-size: 64px;
    color: #F5FBF2;
    padding-left: 538px;
    position: absolute;
    z-index: 2;
}
.title--pink{
  padding-left: 413px;
  margin-bottom: 100px;
}
.title--pink::before{
  content: '';
  position: absolute;
  background-color: #E03054;
  border-radius: 50%;
  z-index: -1;
  right:513px;
  bottom: -19%;
  width: 110px;
  height: 110px;
}
.container--popular{
  padding: 3px 0px;
}
.title--purple::before{
  content: '';
  position: absolute;
  background-color: #8613A5;
  border-radius: 50%;
  z-index: -1;
  right:339px;
  bottom: -19%;
  width: 110px;
  height: 110px;
}
.title--purple--unique::before{
  content: '';
  position: absolute;
  background-color: #8613A5;
  border-radius: 50%;
  z-index: -1;
  right:583px;
  bottom: -19%;
}
.title--purple--unique{
  padding-left: 387px;
}
.flex--third{
  display:flex;
  flex-direction: column;
}
.text--third{
  display: flex;
    font-family: Work Sans;
    font-size: 24px;
    color: #FFCE4E;
    gap: 154px;
    font-weight: 600;
}
.steps{
  display: flex;
  margin-bottom: 55px;
  align-items: center;
  justify-content: space-between;
  padding-left: 89px;
  padding-right: 87px;
}
.circle1{
  width: 106px;
  width: 106px;
  background: #372839;
  border-radius: 50%;
}
.button--view{
padding: 24px 63px;
  color: #F5FBF2;
  border: 1px solid #FFCE4E;
  font-family: Work Sans;
  font-size: 30px;
margin: 0 auto;
justify-content: center;
  display: flex;
}
.flex--popular{
  display: block;
}
.avatar img{
  width: 104px;
  height: 104px;
  margin-right: 24px;
  background: #302034;
}
.avatar{
  background: #302034;
}
.wrapper--creators{
  display: block;
}
.title--creators::before{
  content: '';
  position: absolute;
  background-color: #E03054;
  border-radius: 50%;
  z-index: -1;
  right:317px;
  bottom: -17%;
  width: 110px;
  height: 110px;
}
.title--creators{
padding-left: 509px;
}
.info__name, .count__number{
  font-family: Oxanium;
  font-size: 32px;
  font-weight: bold;
  color: #F5FBF2;
  background: #302034;
}
.info__eth,.count__items{
  font-family: Work Sans;
  font-size: 24px;
  color: #BDAAC1;
  background: #302034;
}
.info__eth{
  margin-right: 36px;
}
.info{
  margin-right: 102px;
  background: #302034;
}
.count{
  text-align: center;
  margin-right: 63px;
  padding-left: 43px;
  border-left: 3px solid #49374E;
  height: 100px;
  background: #302034;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.count__items{
  color: #908294;
}
.creators{
  padding-top: 159px;
  padding-bottom: 83px;
}
.cards{
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 34px;
  padding-top: 189px;
}
.card {
  background: #302034;
  box-shadow: inset 1px 0px 0px #E03054;
  padding-left: 31px;
  height: 156px;
  display: flex;
  align-items: center;
  margin-right: 77px;
  margin-bottom: 52px;
} 
.card:nth-child(2n){
  margin-right: 0px;
}
.subscribe-form{
  display: flex;
  width: 680px;
  margin: 0 auto;
  padding-top: 101px;
}
.subscribe-form input{
  flex-grow: 1;
  padding: 32px 53px;
  border: 1px solid #E7B226;
  color: #A48EA9;
  font-family: Work Sans;
  font-size: 24px;
  background: none;
}
.subscribe-form button{
  justify-content: center;
  border: none;
  padding: 32px 63px;
  background-color: #E7B226;
  color: #251928;
  cursor: pointer;
  font-family: Work Sans;
  font-size: 24px;
  font-weight: bold;
}
.wrapper--drop{
  display: block;
}
section.drop{
  padding: 140px 0px 119px;
  background-image: linear-gradient(180deg, #1C121F 30%, rgba(28, 18, 31, 0.21) 120%),url(../../img/Pat.png);
  background-size:cover;
}
footer{
  padding: 111px 178px 116px 80px;
  background-color: #251928;
}
footer *{
  background-color: #251928;
}
.container--footer{
  display: flex;
}
.description{
  display: flex;
  flex-direction: column;
  width: 391px;
  margin: 0px 197px 0px 51px;
  justify-content: start;
}
.social{
  display: flex;
  align-items: center;
}
.social__logo{
  margin-right: 32px;
  justify-content: center;
}
.links{
  display: flex;
  flex-direction: column;
}
.link--first{
  margin-right: 228px;
}
.partition{
  margin-bottom: 21px;
  color: #F5FBF2;
  font-family: Work Sans;
  font-size: 24px;
  font-weight: bold;
}
.list{
  list-style: none;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: medium;
}
.list__link{
  color: #96839B;
  text-decoration: none;
  line-height: 50.5px;
}
.description__text{
  font-family: Work Sans;
  font-size: 20px;
  font-weight: medium; 
  color: #96839B;
  line-height: 36px;
  margin-bottom: 37px;
  padding-top: 6px;
}
.links__description{
  font-family: Work Sans;
  font-size: 20px; 
  color: #96839B;
  line-height: 36px; 
  padding-left: 51px;
}
.part{
  display: flex;
  margin-bottom: -3px;
}

.auctions{
  padding: 95px 0px;
  background: linear-gradient(-162deg, #251928 0%, rgba(37, 25, 40, 0) 100%);
} 
  .carousel {
    position: relative;
    display: flex;
    max-width: 1512px;
    align-items: center;
    margin: 0 auto;
  }
  
  .carousel-items {
    display: flex;
    gap: 45px;
    overflow-x: hidden;
    padding-bottom: 80px;
    padding-top: 133px;
  }
  .bid {
    background-color: #3D2942;
    padding: 33px;
  }
  .carousel-items--popular{
    padding-top: 200px;
    gap: 35px;
    margin-bottom: 3px;
  }
  .auction-image {
    position: relative;
    background-color: #3D2942;
  }
  .auction-image img {
    object-fit: cover;
    transition: 0.3s ease;
  }
  .timer {
    position: absolute;
    font-family: Work Sans;
    color: #F5FBF2;
    line-height: 35.5px;
    letter-spacing: 2%;
    font-weight: bold;
    font-size: 24px;
    top: 291px;
    background: linear-gradient(150deg, #8613A5 0%, rgba(250, 250, 250, 0.65) 100%);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
    padding: 16px 46px;
  }
  
  .auction-info {
    background-color: #3D2942;
  }
  .creator {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #3D2942;
    justify-content: space-between;
    margin-top: 25px;
  }
  
  .avatar--small img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #3D2942;
  }
  .avatar--small{
    background-color: #3D2942;
    margin-right: -70px;
  }
  .by{
    font-family: Work Sans;
    font-size: 20px;
    color: #BDAAC1;
    background-color: #3D2942;
  }
  .designation{
    color: #F5FBF2;
    font-family: Work Sans;
    font-size: 28px;
    background-color: #3D2942;
    margin-bottom: 8px;
  }
  
  .bid-info {
    display: flex;
    justify-content: space-between;
    background-color: #3D2942;
    margin-bottom: 40px;
    margin-top: 28px;
  }
  
  .price {
    font-family: Oxanium;
    font-size: 24px;
    font-weight: bold;
    color: #F5FBF2;
    background-color: #3D2942;
  }
  .current{
    font-family: Work Sans;
    font-size: 24px;
    color: #C6BfC8;
    background-color: #3D2942;
  }
  .like{
    font-family: Work Sans;
    font-size: 32px;
    color: #76607A;
    background-color: #3D2942;
  }
  .likes{
    display: flex;
    align-items: center;
    background-color: #3D2942;
  }
  .heart img{
    background-color: #3D2942;
  }
  .heart{
    background-color: #3D2942;
    margin-right: 9px;
  }
  .button--bid {
    width: 100%;
    padding: 21px;
    border: 1px solid #FDE8B3;
    color: white;
    font-family: Work Sans;
    font-size: 24px;
    letter-spacing: 5%;
    line-height: 35.5px;
    background: rgba(233, 215, 167, 0.1);
  }
  .bid--col{
      padding: 37px 37px 32px;
      cursor: grab;
  }
  .arrows{
    display: flex;
  }
  .back {
    border: none;
    top: 94px;
    left: 956px;
    z-index: 1;
    background-color: #1C121F;
    cursor: pointer;
  }
  .next {
    border: none;
    top: 94px;
    left: 281px;
    z-index: 1;
    background-color: #1C121F;
    cursor: pointer;
  }
  .categories{
    padding: 103px 0px;
    background-color: #251928;
  } 
  .flex--cat{
    display: block;
  } 
  .creator-cat {
    display: flex;
    align-items: center;
    background-color: #3D2942;
    justify-content: space-between;
    margin-top: 10px;
  }
  .avatar--cat img{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: #3D2942;
    margin-right: 1px;
  }
  .avatar--cat{
    background-color: #3D2942;
  }
  .by--cat{
    font-family: Work Sans;
    font-size: 18px;
    color: #BDAAC1;
    background-color: #3D2942;
  }
  .designation--cat{
    color: #F5FBF2;
    font-family: Work Sans;
    font-size: 24px;
    background-color: #3D2942;
    margin-bottom: 6px;
  }
  .bd-info {
    display: flex;
    justify-content: space-between;
    background-color: #3D2942;
    margin-bottom: 28px;
    margin-top: 32px;
  }
  .price--cat {
    font-family: Oxanium;
    font-size: 20px;
    font-weight: bold;
    color: #F5FBF2;
    background-color: #3D2942;
  }
  .current--cat{
    font-family: Work Sans;
    font-size: 20px;
    color: #C6BfC8;
    background-color: #3D2942;
  }
  .like--cat{
    font-family: Work Sans;
    font-size: 24px;
    color: #76607A;
    background-color: #3D2942;
  }
  .heart--cat img{
    background-color: #3D2942;
    width: 24px;
    height: 22px;
  }
  .heart--cat{
    background-color: #3D2942;
    margin-right: 9px;
  }
  .artist--cat{
    display: flex;
    flex-direction: column;
    background-color: #3D2942;
    margin-right: 79px;
  }
  .arrows{
    display: flex;
  }
  .bid--cat{
    padding: 33px 32px 6px;
  }
  .collections{
    padding-bottom: 104px;
  }  
  .creator-col {
    display: flex;
    align-items: center;
    background-color: #3D2942;
    margin-top: 20px;
  }
  .avatar--col img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #3D2942;
    margin-right: 16px;
  }
  .avatar--col{
    background-color: #3D2942;
  }
  .designation-col{
    color: #F5FBF2;
    font-family: Work Sans;
    font-size: 32px;
    background-color: #3D2942;
    margin-right: 166px;
    line-height: 36px;
    font-weight: 500;
  }
  .current--col{
    font-family: Work Sans;
    font-size: 20px;
    font-weight: bold;
    color: #C2B5C6;
    background-color: #3D2942;
    text-align: end;
  }
  .button--hover{
    display: none;
    padding: 21px 58px;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    background-color: #FFCE4E;
    position: absolute;
    border: none;
    top: 46%;
    transform: translateX(40px);
  }
  
  .bid--cat:hover .button--hover{
display: block;
  }
  .bid--cat:hover .auction-image img{
    opacity: 0.3; 
     transition: opacity 0.3s ease;
  }
.flex--creators{
  display: block;
}
.title--read{
  padding-left: 329px;
}
.list__link:hover{
  color: #FFCE4E;
}

@media screen and (max-width: 1550px){
  .container{
    max-width: 1170px;
  }
  .logo{
    margin-right: 389px;
  }
.slogan{
  max-width: 600px;
}
.button--max{
  padding: 5% 10%;
  margin-right: 5%; 
}
.artist{
  margin-right: 0px;
}
.text--first div::first-line{
  font-size: 195%;
}
.clientlogo img{
  max-width: 90%;
}
.carousel{
  max-width: 1145px;
}
.back{
  left: 68%;
}
.title, h2.title--works{
  display: flex;
  align-self: center;
  padding-left: 0px;
}
.title--pink, .title--purple--unique{
  padding-left: 20%;
}
.text--third{
  text-align: center;
  gap: 4vh;
}
.cards{
  justify-content: center;
}
.card{
  margin-right: 0px;
}
.title.title--creators {
  padding-left: 32%;
}
.title{
  align-self: auto;
  padding-left: 17%;
}
.description{
  margin: 0;
}
.logo--uniq{
  margin-right: 4%;
}
.links__description{
  padding-left: 0%;
}
}
@media screen and (max-width: 1200px){
.flex{
  flex-wrap: wrap;
  justify-content: center;
}
.container{
  max-width: 900px;
}
.logo{
  margin-right: 10%;
}
.slogan{
  text-align: center;
}
.content{
  display: contents;
  margin-bottom: 5%;
}
.artist{
  margin-right: 0;
  margin-bottom: 5%;
}
.button--max{
  margin-bottom: 5%;
  margin-right: 0;
}
.button--max:nth-of-type(1){
  margin-right: 2%;
}
.artist__bid{
  top: 56%;
}
.artist__start{
top: 90%;
}
.text--first{
  justify-content: center;
}
.clientlogo{
  display: none;
}
.carousel{
  max-width: 900px;
}
.next{
  left: 22%;
}
.back{
  left: 63%;
}
.flex--auctions{
  display: block;
}
.title, .title.title--creators{
  padding-left: 17vh;
}
.text--third{
  text-align: center;
  gap: 10%;
}
.steps{
  padding: 0 5%;
}
.title--pink{
  padding-left: 12vh;
}
.title--purple--unique{
  padding-left: 10vh;
}
.carousel-items--cat{
  flex-wrap: wrap;
}
.button--hover{
  margin-top: -38%;
  top: auto;
}
.cards{
  justify-content: center;
}
.card{
  margin-right: 0px;
}
.title--read{
  padding-left: 2vh;
}
.part{
  flex-wrap: wrap;
  text-align: center;
}
.link--first{
  margin-right: 50%;
}
.description{
  margin-bottom: 7%;
  width: auto;
  align-items: center;
  text-align: center;
}
.logo--uniq{
  align-content: center;
}
.links__description{
  text-align: center;
  padding: 0;
}
}
@media screen and (max-width: 992px){
  .container{
    max-width: 700px;
  }
  .carousel{
    max-width: 695px;
  }
  .title, .title.title--creators{
    padding-left: 11vh;
  }
  .back{
   left: 60%;
  }
  .title--pink::before{
    bottom: 42%;
  }
  .title--purple--unique::before {
    right: 522px;
    bottom: 45%;
  }
  .carousel-items {
    padding-top: 220px;
    justify-content: center;
  }
  .button--hover{
    margin-top: -50%;
  }
  .title--creators::before {
    bottom: -14%;
  }
  .title.title--read{
    font-size: 54px;
    padding-left: 2vh;
  }
  .container--footer{
    flex-direction: column;
    align-items: center;
  }
  footer{
    padding: 115px;
  }
  .logo--uniq, .link{
    margin-right: 0;
  }
  .link--first{
    margin-right: 10%;
  }
  .part{
    justify-content: center;
    margin-bottom: 15%;
  }
  .text--third{
    font-size: 15px;
  }
  .sqrt::before {
    width: 95px;
    height: 95px;
  }
  img.line {
      width: 50%;
      height: auto;
    }
}
@media screen and (max-width: 768px){
  .container{
    max-width: 600px;
  }
  .artist__bid {
    top: 54%;
  }
  .artist__start {
    top: 88%;
  }
  .carousel {
    max-width: 615px;
  }
  .title--pink::before {
    right: 457px;
  }
  .title--purple--unique::before {
    right: 452px;
  }
  .button--hover {
    margin-top: -58%;
  }
  .title--creators::before {
    right: 350px;
  }
  .info__eth {
    margin-right: 0px;
  }
  .title.title--read {
    font-size: 48px;
    padding-left: 0vh;
  }
.burger{
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 1001;
}
.burger img{
  width: auto;
  height: 65px;
}
.menu {
  display: none;
  position: absolute;
  top: 7%;
  left: 71%;
  width: 19%;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  z-index: 1000;
}
.menu--active.button--uniq, .button--uniq{
  display: none;
}
.menu.menu--active {
  display: block;
  max-height: 300px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.menu__link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}
.menu__link:hover {
  background-color: #FFCE4E;
  color: #000;
}
}
@media screen and (max-width: 576px){
  .container{
    max-width: 450px;
  }
  .artist img {
    height: 605px;
    width: 458px;
  }
  .artist__bid {
    top: 61%;
    padding: 16px 11px 9px 39px;
  }
  .text-bid:nth-child(1) {
    margin-right: 137px;
  }
  .artist__start {
    top: 88%;
    padding: 33px 21px 35px 39px;
  }
  .start-bid:first-child {
    margin-right: 78px;

  }
  .text--first div::first-line {
    font-size: 165%;
  }
  .text--first{
    gap: 75px;
  }
  .carousel {
    max-width: 480px;
  }
  .title{
    padding-left: 3vh;
  }
  .carousel-items {
    padding-top: 140px;
  }
  .text--third {
    font-size: 13px;
  }
  .sqrt::before {
    transform: translate(-18%, -18%);
    width: 75px;
    height: 75px;
  }
  .title--pink, .title--purple--unique{
    font-size: 48px;
  }
  .title--purple--unique{
    padding-left: 6vh;
  }
  .title--pink::before{
    right: 407px;
    bottom: -35%;
    width: 95px;
  height: 95px;
  }
  .title--purple--unique::before {
    right: 383px;
    bottom: 47%;
  width: 80px;
  height: 80px;
}
.title.title--creators{
  padding-left: 5vh;
}
.title--creators::before{
  right: 258px;
}
.card {
  margin-right: 0px;
  display: flex;
}
.avatar img {
  width: 90px;
  height: 90px;
  margin-right: 24px;
}
.info__name{
  font-size: 27px;
}
.info__eth{
  font-size: 19px;
}
.info {
  margin-right: 19px;
}
.title.title--read {
  font-size: 40px;
}
.subscribe-form {
  width: 486px;
}
.subscribe-form input {
  padding: 32px 0px;
}
.subscribe-form button {
  padding: 11px 27px;
}
  }
